<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Ini adalah websiteku sendiri</title>
        <meta charset="utf-8">
        <link href="{% static 'style.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1>Profil Saya</h1>
        <img src="static/Raihan.jpg" alt="Foto diri" style="width:50%;" class="center">
        <p>Nama: Raihan Rizqi Muhtadiin</p>
        <p>NPM: 1906353776</p>
        <p>Angkatan: Maung 2019</p>
        <p>Hobi: Main Fire Emblem dan Final Fantasy</p>
        <p>Deskripsi: Lagi kewalahan karena semester 3</p>
        <p>Tempat kuliah: Fakultas Ilmu Komputer Universitas Indonesia (tapi sekarang di rumah aja)</p>
        <p>Riwayat pendidikan:</p>
        <dl>
            <dt>2019 - sekarang: Universitas Indonesia</dt>
            <dd>Depok, Jawa Barat</dd>
            <dt>2016 - 2019: SMAIT Daarul Hikmah Boarding School</dt>
            <dd>Bontang, Kalimantan Timur</dd>
        </dl>
        <br><br><br>
        <p>Stay connected with me</p>
        
    </body>
</html>