html {
    background-image: url("Laptop_on_mattress.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow: auto;
}

body {
    background-color: rgba(20, 20, 20, 0.9);
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
    height: auto;
}

dl {
    color: #d8dde6;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
}

h1 {
    color: #d8dde6;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: #d8dde6;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
}